body {
    /* Disable certain interactions on touch devices */
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}
html {
    -ms-touch-action: pan-x ;
}
/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

/***************************************************************************************/

body
{
    background-image: url(../images/bg_food.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    
}

.header
{
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header img
{
    width: 100%
}
