body
{
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    background-image: url(../images/bg_food_white.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.container
{
    padding: 4%;
    padding-top: 42px;
    height: 100%;
    width: 100%;
}

/************************************** CSS FOR HEADER BUTTONS **************************************/
.head
{
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: fixed;
}

.menu
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu img
{
   margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.panier
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panier img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.profil
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profil img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.separator
{
    width: 1%;
    height: 40px;
    background-color: #C1832C;
    float: left;
}


/************************************* CSS FOR MENU*************************************/

.image_food
{
   width: 80%;
   margin-left: -27px;
}

.note  
{
   font-size: 0.8em;
}

#productlist 
{
    border-collapse: collapse;
}

#productlist td
{
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

#productlist tr
{
    height:80px;
    border-bottom: 1px #B2B0A6 solid;
}

#productlist tr:last-child
{
    border-bottom: none;
}


/**************************************** CSS FOR PANIER *****************************************/

.any_command
{
    text-align: center;
    color: #666666;
    font-style: italic;
    margin-top: 50%;
}


/****************************************** CSS FOR PROFIL ****************************************/

.info_profil
{
    margin-top: 2%;
    color: #444444;
}

.sep
{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 2px;
}

#logout
{
    width: 50%;
    height: 40px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #777777;
    border: 0;
    cursor: pointer;
    left: 25%;
    position: fixed;
    bottom: 4%;
}
