body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.container
{
    padding: 3%;
    padding-top: 40px;
}

/************************************** CSS FOR HEADER BUTTONS **************************************/
.head
{
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: fixed;
}

.menu
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu img
{
   margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.panier
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panier img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.profil
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profil img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.separator
{
    width: 1%;
    height: 40px;
    background-color: #C1832C;
    float: left;
}


/************************************* CSS FOR MENU*************************************/

.image_food
{
   width: 80%;
   margin-left: -27px;
}

.note  
{
   font-size: 0.8em;
}

#productlist 
{
    border-collapse: collapse;
}

#productlist td
{
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

#productlist tr
{
    height:80px;
    border-bottom: 1px #B2B0A6 solid;
}

#productlist tr:last-child
{
    border-bottom: none;
}





/**************************************** CSS FOR PANIER *****************************************/

.any_command
{
    text-align: center;
    margin-top: 50%;
    color: #666666;
}


/****************************************** CSS FOR PROFIL ****************************************/

.info_profil
{
    margin-top: 2%;
    color: #444444;
}

.logout
{
    float: left;
    width: 50%;
    height: 35px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom
}
