body
{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg_food_white.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container
{
    padding: 4%;
    padding-top: 42px;
    height: 100%;
    width: 92%;
}

/************************************** CSS FOR HEADER BUTTONS **************************************/
.head
{
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: fixed;
}

.menu
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu img
{
   margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.panier
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panier img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.profil
{
    float: left;
    background-color: #E3a54e;
    height: 40px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profil img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 30px;
    width: 30px;
}

.separator
{
    width: 1%;
    height: 40px;
    background-color: #C1832C;
    float: left;
}

/************************************* CSS FOR MENU*************************************/

.missing
{
    height: 0px !important;
}

.categories
{
    height: 35px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    margin-top: 3%;
}

.sel
{
    width: 50%;
    height: 32px;
}

.image_food
{
   width: 80%;
   margin-left: -27px;
}

.note  
{
   font-size: 0.8em;
}

#productlist 
{
    border-collapse: collapse;
}

#productlist td
{
    text-align: center;
    vertical-align: middle;
    width: 15%;
}

#productlist tr
{
    height:80px;
    border-bottom: 1px #B2B0A6 solid;
}

#productlist tr:last-child
{
    border-bottom: none;
}


/**************************************** CSS FOR PANIER *****************************************/

.any_command
{
   text-align: center;
   color: #666666;
   font-style: italic;
   position: fixed;
   top: 45%;
   left: 15%;
}

.image_basket
{
   width: 30%;
   margin-left: -10px;
}

#toOrder 
{
    width: 50%;
    height: 40px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #1CB841;
    border: 0;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
    left: 25%;
    
}

.basketwrapper 
{
    height: 400px;
    overflow: auto;
}

#basketlist tr:first-child
{
    height:none;
}

#basketlist td
{
    text-align: center;
}

#basketlist tr
{
    height:30px;
}

.resume 
{
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    position: relative;
    text-align: right;
    display: -webkit-inline-box;
}

#reset
{
    height: 35px;
    width: 35px;
    background-image: url(../images/reset.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: 45%;
    float: right;
    right: -25%;
}

/****************************************** CSS FOR PROFIL ****************************************/

.info_profil
{
    margin-top: 2%;
    color: #444444;
}

.sep
{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 2px;
}

.orders
{
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    margin-top: 8%;
    color: #555555;
    text-align: center;
    margin-bottom: 3%;
    left: 25%;
    position: relative;
}

.orderwrapper 
{
    height:250px;
    overflow: auto;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-top: inherit;
    color: inherit;
    text-align: center;
    margin-bottom: 3%;
}

#logout
{
    width: 50%;
    height: 40px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #777777;
    border: 0;
    cursor: pointer;
    left: 25%;
    position: absolute;
    bottom: 4%;
}

#full_w
{
    width: 100%;
    border-collapse: collapse;
}

#full_w tr
{
    height: 35px;
    line-height: 35px;
}

.text_left
{
    text-align: left;
    width: 20%;
}

.text_middle
{
    text-align: center;
    width: 55%;
}

.text_right
{
    text-align: right;
    width: 25%;
}