body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/home_slide1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.head
{
    width: 100%;
    height: 45px;
}

.menu
{
    float: left;
    background-color: darkgoldenrod;
    height: 45px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu img
{
   margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 35px;
    width: 35px;
}

.panier
{
    float: left;
    background-color: darkgoldenrod;
    height: 45px;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panier img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 35px;
    width: 35px;
}

.profil
{
    float: left;
    background-color: darkgoldenrod;
    height: 45px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profil img
{
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 35px;
    width: 35px;
}

.separator
{
    width: 1%;
    height: 45px;
    background-color: chocolate;
    float: left;
}

.container
{
    padding: 5px;
}